<template>
  <div class="home">
    <video autoplay muted loop id="bg_video" poster="@/assets/images/summer.png">
      <source src="@/assets/video/bgmain.mp4" type="video/mp4"/>
    </video>

    <div class="icons">
      <ul>
        <li @click="getLocation"><img src="@/assets/images/icons/map.png" alt="Map"></li>
        <li @click="getTransport"><img src="@/assets/images/icons/bus.png" alt="Bus"></li>
        <li @click="getInfrastructure"><img src="@/assets/images/icons/cart.png" alt="Cart"></li>
        <li @click="getRecration"><img src="@/assets/images/icons/bike.png" alt="Bike"></li>
        <li @click="getComfort"><img src="@/assets/images/comfort.png" alt="ComfortCity"></li>
        <li @click="getPlans"><img src="@/assets/images/icons/sofa.png" alt="Sofa"></li>
      </ul>
    </div>

    <div class="content">
      <Transition name="appearance">
        <video v-if="view_location" autoplay controls id="location_video">
          <source src="@/assets/video/location.mp4" type="video/mp4"/>
        </video>
      </Transition>

      <Transition name="appearance">
        <video v-if="view_transport" autoplay controls id="transport_video">
          <source src="@/assets/video/transport.mp4" type="video/mp4"/>
        </video>
      </Transition>

      <Transition name="appearance">
        <video v-if="view_infrastructure" autoplay controls id="infrastructure_video">
          <source src="@/assets/video/infrastructure.mp4" type="video/mp4"/>
        </video>
      </Transition>

      <Transition name="appearance">
        <video v-if="view_recreation" autoplay controls id="recreation_video">
          <source src="@/assets/video/recreaation.mp4" type="video/mp4"/>
        </video>
      </Transition>
      
      <Transition name="appearance">
        <video v-if="view_comfort" autoplay controls id="comfort_video">
          <source src="@/assets/video/cs.mp4" type="video/mp4"/>
        </video>
      </Transition>

      <Transition name="appearance">
        <div v-if="view_window" class="slider">
          <Transition name="window-image-appearance">
            <img v-if="view_window_index === 0" class="window_images" :src="data_images[0]" alt="Шикарный вид с окн Comfort City"/>
            <img v-else-if="view_window_index === 1" class="window_images" :src="data_images[1]" alt="Шикарный вид с окн Comfort City"/>
            <img v-else-if="view_window_index === 2" class="window_images" :src="data_images[2]" alt="Шикарный вид с окн Comfort City"/>
            <img v-else class="window_images" :src="data_images[3]" alt="Шикарный вид с окн Comfort City"/>
          </Transition>
        </div>
      </Transition>

      <Transition name="appearance">
        <div v-if="view_plans" class="slider-2">
          <el-carousel :interval="5000" arrow="arrow" trigger="click" height="630px">
            <el-carousel-item v-for="item in plans_data_images" :key="item">
              <img class="plans_images" :src="item" alt="Планировки">
            </el-carousel-item>
          </el-carousel>
        </div>
      </Transition>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import { io } from 'socket.io-client'

const socket = io('http://192.168.0.22:3000')

export default defineComponent({
  name: 'HomeView',

  data(){
    return {
      view_location: false,
      view_transport: false,
      view_infrastructure: false,
      view_recreation: false,
      view_comfort: false,
      view_window: false,
      view_plans: false,

      view_window_index: 0,

      data_images: [
        require('@/assets/images/views/north.jpg'),
        require('@/assets/images/views/south.jpg'),
        require('@/assets/images/views/vostok.jpg'),
        require('@/assets/images/views/west.jpg')
      ],

      plans_data_images: [
        require('@/assets/images/plans/1.jpeg'),
        require('@/assets/images/plans/2.jpeg'),
        require('@/assets/images/plans/3.jpeg'),
        require('@/assets/images/plans/4.jpeg'),
        require('@/assets/images/plans/5.jpeg'),
        require('@/assets/images/plans/6.jpeg'),
        require('@/assets/images/plans/7.jpeg'),
        require('@/assets/images/plans/8.jpeg'),
        require('@/assets/images/plans/9.jpeg'),
        require('@/assets/images/plans/10.jpeg'),
        require('@/assets/images/plans/11.jpeg'),
        require('@/assets/images/plans/12.jpeg'),
        require('@/assets/images/plans/13.jpeg'),
        require('@/assets/images/plans/14.jpeg'),
        require('@/assets/images/plans/15.jpeg')
      ]
    }
  },

  methods: {
    getLocation(){
      if(this.view_transport || this.view_infrastructure || this.view_recreation || this.view_comfort || this.view_window || this.view_plans){
        this.view_infrastructure = false
        this.view_transport = false
        this.view_recreation = false
        this.view_comfort = false
        this.view_window = false
        this.view_plans = false
      
        setTimeout(() => {
          this.view_location = !this.view_location
        }, 500)

        clearTimeout() 
      }else{
        this.view_location = !this.view_location
      }
    },
    getTransport(){
      if(this.view_location || this.view_infrastructure || this.view_recreation || this.view_comfort || this.view_window || this.view_plans){
        this.view_infrastructure = false
        this.view_location = false
        this.view_recreation = false
        this.view_comfort = false
        this.view_window = false
        this.view_plans = false
        
        setTimeout(() => {
          this.view_transport = !this.view_transport
        }, 500)

        clearTimeout()
      }else{
        this.view_transport = !this.view_transport
      }
    },
    getInfrastructure(){
      if(this.view_location || this.view_transport || this.view_recreation || this.view_comfort || this.view_window || this.view_plans){
        this.view_transport = false
        this.view_location = false
        this.view_recreation = false
        this.view_comfort = false
        this.view_window = false
        this.view_plans = false
        
        setTimeout(() => {
          this.view_infrastructure = !this.view_infrastructure
        }, 500)

        clearTimeout()
      }else{
        this.view_infrastructure = !this.view_infrastructure
      }
    },
    getRecration(){
      if(this.view_location || this.view_transport || this.view_infrastructure || this.view_comfort || this.view_window || this.view_plans){
        this.view_location = false
        this.view_transport = false
        this.view_infrastructure = false
        this.view_comfort = false
        this.view_window = false
        this.view_plans = false

        setTimeout(() => {
          this.view_recreation = !this.view_recreation
        }, 500)

        clearTimeout()
      }else{
        this.view_recreation = !this.view_recreation
      }
    },
    getComfort(){
      if(this.view_location || this.view_transport || this.view_infrastructure || this.view_recreation || this.view_window || this.view_plans){
        this.view_location = false
        this.view_transport = false
        this.view_infrastructure = false
        this.view_recreation = false
        this.view_window = false
        this.view_plans = false

        setTimeout(() => {
          this.view_comfort = !this.view_comfort
        }, 500)

        clearTimeout()
      }else{
        this.view_comfort = !this.view_comfort
      }
    },
    getWindow(){
      if(this.view_location || this.view_transport || this.view_infrastructure || this.view_recreation || this.view_comfort || this.view_plans){
        this.view_location = false
        this.view_transport = false
        this.view_infrastructure = false
        this.view_recreation = false
        this.view_comfort = false
        this.view_plans = false

        setTimeout(() => {
          this.view_window = !this.view_window
        }, 500)

        clearTimeout()
      }else{
        this.view_window = !this.view_window
      }
    },
    getOpenGallery(index: number){
      setTimeout(() => {
        this.view_window_index = index
      }, 500)

      clearTimeout()
    },
    getPlans(){
      if(this.view_location || this.view_transport || this.view_infrastructure || this.view_recreation || this.view_comfort || this.view_window){
        this.view_location = false
        this.view_transport = false
        this.view_infrastructure = false
        this.view_recreation = false
        this.view_comfort = false
        this.view_window = false

        setTimeout(() => {
          this.view_plans = !this.view_plans
        }, 500)

        clearTimeout()
      }else{
        this.view_plans = !this.view_plans
      }
    }
  },

  mounted(){
    socket.on('messageClient', (res: string) => {
      switch(res){
        case 'location':
          this.getLocation()
        break

        case 'transport':
          this.getTransport()
        break

        case 'infrastructure':
          this.getInfrastructure()
        break

        case 'recreation':
          this.getRecration()
        break

        case 'comfort_city':
          this.getComfort()
        break

        case 'gallery':
          this.getWindow()
        break

        case 'gallery_1':
          this.getOpenGallery(0)
        break

        case 'gallery_2':
          this.getOpenGallery(1)
        break

        case 'gallery_3':
          this.getOpenGallery(2)
        break

        case 'gallery_4':
          this.getOpenGallery(3)
        break

        case 'plans':
          this.getPlans()
        break
      }
    })
  }
})
</script>

<style lang="scss" scoped>
#bg_video {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;

  margin: 40px;

  ul {
    li {
      display: inline-block;
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }

      img {
        width: 50px;
        padding: 10px;
        color: #ffffff;
        border: solid 1px;
        border-radius: 100%;
        background-color: #a1764ac4;
        box-shadow: 0 10px 10px rgba($color: #000000, $alpha: .2);
      }
    }
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;

  .slider {
    width: 800px;
    
    .window_images {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .slider-2 {
    width: 800px;

    .plans_images {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  #location_video, #transport_video, #infrastructure_video, #recreation_video, #comfort_video {
    height: 630px;
  }

  // ## All appearance animation

  .appearance-enter-active {
    transition: 1s all cubic-bezier(.63,0,.31,1);
  }

  .appearance-leave-active {
    transition: .5s all cubic-bezier(.63,0,.31,1);
  }

  .appearance-enter-from, .appearance-leave-to {
    transform: translateX(600px);
    opacity: 0;
  }

  // ## Window image animation

  .window-image-appearance-enter-active {
    transition: 1s all cubic-bezier(.63,0,.31,1);
  }

  .window-image-appearance-leave-active {
    transition: .3s all cubic-bezier(.63,0,.31,1);
  }

  .window-image-appearance-enter-from, .window-image-appearance-leave-to {
    transform: translateX(600px);
    opacity: 0;
  }
}
</style>