<template>
  <div class="home">
    <nav class="menu">
      <ul class="buttons">
        <li><button @click="switches('location')">Местоположение</button></li>
        <li><button @click="switches('transport')">Транспортная доступность</button></li>
        <li><button @click="switches('infrastructure')">Инфраструктура района</button></li>
        <li><button @click="switches('recreation')">Рекреация</button></li>
        <li><button @click="switches('comfort_city')">Жилой комплекс "Комфорт Сити"</button></li>
        <li><button @click="switches('gallery'), isGallery = !isGallery">Виды из окна</button></li>
        <Transition name="appearance">
          <div v-if="isGallery" class="view-in-window-menu">
            <li><button @click="switches('gallery_1')">Север</button></li>
            <li><button @click="switches('gallery_2')">Юг</button></li>
            <li><button @click="switches('gallery_3')">Востог</button></li>
            <li><button @click="switches('gallery_4')">Запад</button></li>
          </div>
        </Transition>
        <li><button @click="switches('plans'), isPlans = !isPlans">ПЛАНИРОВКА КВАРТИР</button></li>
        <Transition name="appearance">
          <div v-if="isPlans" class="view-in-window-menu">
            <li><a href="https://saba.protrend.kz/main.php" target="_blank"><button>Перейти по ссылке</button></a></li>
          </div>
        </Transition>
      </ul>
    </nav>
  </div>
</template>

<script lang="ts">
import { defineComponent, inject } from 'vue'

import { io } from 'socket.io-client'

const socket = io('http://192.168.0.22:3000')

export default defineComponent({
  name: 'HomeView',

  data(){
    return {
      isGallery: false,
      isPlans: false
    }
  },

  methods: {
    switches(type: string){
      socket.emit('messageServer', type, (res: any) => {
        console.log(res)
      })
    }
  }
});
</script>

<style lang="scss" scoped>
.home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
  .menu {
    width: 450px;

    .buttons {
      .view-in-window-menu {
        margin-top: 30px;
      }

      li {
        margin-top: 30px;

        &:first-child {
          margin-top: 0;
        }

        a {
          text-decoration: none;
        }
        
        button {
          display: block;
          width: 100%;
          padding: 20px;
          cursor: pointer;
          border: solid 0.1px;
          border-radius: 10px;
          font-size: 18px;
          color: rgb(172, 109, 0);
          box-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.1);
          background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,243,217,0.4724264705882353) 100%);
          transition: .3s all;

          &:hover, &:focus, &:active {
            color: #ffffff;
            background: linear-gradient(180deg, rgb(255, 213, 163) 0%, rgba(255, 195, 65, 0.535) 100%);
          }
        }
      }

      // ## Appearance animation

      .appearance-enter-active {
        transition: 1s all cubic-bezier(.63,0,.31,1);
      }

      .appearance-leave-active {
        transition: .5s all cubic-bezier(.63,0,.31,1);
      }

      .appearance-enter-from, .appearance-leave-to {
        transform: translateY(-100px);
        opacity: 0;
      }
    }
  }
}
</style>