<template>
    <div class="footer-component">
        <div class="aqniet">
            <h1>Developerment: (c) Aqniet Company</h1>
        </div>
    </div>    
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
    name: 'footer-component'
})
</script>

<style lang="scss" scoped>
.footer-component {
    margin: 20px 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .aqniet {
        h1 {
            color: #bababa;
            padding: 20px;
            font-size: 14px;
        }
    }
}
</style>