<template>
    <div class="header-component">
        <nav class="app">
            <router-link to="/">
                <div class="logo">
                    <img src="@/assets/images/comfort.png" alt="comfort-city">
                </div>
            </router-link>
        </nav>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
    name: 'header-component'
})
</script>

<style lang="scss" scoped>
.header-component {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,243,217,0.4724264705882353) 100%);

    .app {
        .logo {
            padding: 20px;

            img {
                width: 150px;
            }
        }
    }
}


</style>