<template>
  <Header></Header>
  <router-view/>
  <Footer></Footer>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import HeaderComponent from '@/components/HeaderComponent.vue'
import FooterComponent from '@/components/FooterComponent.vue'

export default defineComponent({
  name: 'app',

  components: {
    Header: HeaderComponent,
    Footer: FooterComponent
  }
})
</script>


<style lang="scss">

</style>
